<!DOCTYPE html>
<html>
    <head>
        <title>Assignment Four by Ben Hengeveld</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            <h1><u>My Shop</u></h1>
        </header>
        
        <main>
            <%- include('templates/storeform') -%>
        </main>
    </body>
</html>